<div class="header">
	<div class="wrapper">
		<div class="branding">
			<a href="index.jsp"><img src="images/loangalli.png" alt=""></a>
		</div>

		<div class="mainNav">
			<ul>
				<li class="activeTopNav"><a href="#">Product</a></li>
				<li><a href="#">Rate Of Interest</a></li>
				<li class="subNav"><a href="#">FOIR</a></li>
				<li class="subNav"><a href="#">User</a></li>
				<li><a href="#">Category</a></li>
				<li><a href="#">Entity</a></li>
				<li><a href="#">Entity Type</a></li>
			</ul>
		</div>
	</div>
</div>