
<script src="${pageContext.request.contextPath}/js/jquery.simplePopup.js"></script>
<link rel="stylesheet" href="${pageContext.request.contextPath}/css/style.css">

<div id="errorPopup" class="simplePopup">
	  <h1 id='errorHeading'></h1>
	  <p id='errorMessage'></p>
	  <div class="closewin"><input name="" type="button" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"></div>
	  <!-- <hr width='100%'>
	  <input type='button' class='bannerSendButton' value="Ok" width="35px"/> -->
	</div>

