<div class="footer">
	<div class="wrapper">
	  <div class="footerNavSocialBlock">
		<div class="footerNav" style='width:720px;'>
				<a href="/">Home</a>
				   <a href="/web/profile">Profile</a>
					<a href="/web/homeLoan/">Home Loan</a> 
					<a href="/web/personalLoan/">Personal Loan</a> 
					<a href="/web/lapLoan/">Mortgage Loan</a> 
					<a href="/web/eduLoan/">Education Loan</a> 
					<a href="/web/calc/">Tools</a> 
					<a href="/web/referrals/">Referrals</a> 
					<a href="https://loangully.wordpress.com/" target="_blank">Blog</a>
		</div>
            <div class="footerLogoCopyRights" style="width:60%; margin-top:40px;">
                        <div class="footerLogo">
                            <img
                                src="${pageContext.request.contextPath}/images/footerGreyLogo.jpg"
                                alt="">
                        </div>
            
                        <div class="footeCopyRights">
                            &copy; Copyrights  2015, <a href='http://www.thincovate.com' target="_blank"><strong>www.Thincovate.com</strong></a>, India. <br>
                            <a href="/web/tc">Terms &amp; Conditions</a>
                        </div>
        </div>
        
		  <div class="footerSocialSharing" style="text-align:left; padding:0px; margin-top:-18px;">
          	<p style=" font-size:12px;  color:#808080;">
          		LSPC Mansion, <br/> 
          		H.No:3-201, HIG,&nbsp;<br />
			    Lane Opp Lakshmi SBI Homes, <br/>
			    HUDA MayuriNagar, Miyapur,<br />
			    Hyderabad - 500049, India.<br /><br/>
		        <abbr title="Phone">Contact #:</abbr>&nbsp;+91.9885784848, +91.8106605524 
		      </p>
              <br/>
			  <p><a href="https://loangully.wordpress.com/" class="footerWordpress" target="_blank">Wordpress</a> 
				    <a href="https://www.facebook.com/pages/?name=LoanGully" class="footerFacebook" target="_blank">Facebook</a> 
				    <a href="https://twitter.com/loanGully"	class="footerTwitter" target="_blank">Twitter</a>		    </p>
		  </div>
	  </div>
	</div>
</div>
<script>$(function() { $(".footer").on('click',function(){ localStorage.clear();}) }); </script>