<%@ page language="java" contentType="text/html; charset=ISO-8859-1" pageEncoding="ISO-8859-1"%>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="loangully, loan gully, loan deals, loan, loans, loan india, loans india, current loan rates india, loan calculator india, best loans india, best loan rates, cheapest loans india,loan hyderabad, loans hyderabad, current loan rates hyderabad, loan calculator hyderabad, best loans hyderabad, cheapest loans hyderabad, quick loans, want loan, need loan, loans hyderabad, emi calculator, best loan rates, loans in hyderabad,simple loans, easy process"/>
	<meta name="description" content="Simpler, Instant loans in India: Visit now for Housing, Personal & Mortgage loans."/>
	<meta title="Best Home, Personal and Mortgage loans in Hyderabad" />
	<title>LoanGully - Simpler, Faster & Easier Loans !</title>
	<link rel="shortcut icon" href="${pageContext.request.contextPath}/images/favicon.ico" type="image/x-icon" >	
	<script src="${pageContext.request.contextPath}/js/jquery-2.1.0.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="${pageContext.request.contextPath}/css/ihHome.css">
</head>
<body>

<div class="header">
	<div class="wrapper">
		<div class="branding">
			<a href="/"><img src="${pageContext.request.contextPath}/images/loangalli.png" alt="LoanGully - Simpler than others !"></a>
		</div>

		<div class="mainNav">
			<ul>
				<li id='headerHome'><a href="/" id='headerHome'>Home</a></li>
				<li id='headerProfile'><a href="/web/profile">Profile</a></li>
				<li id='headerHL'><a href="/web/homeLoan/">Home Loan</a></li>
				<li id='headerPL'><a href="/web/personalLoan/">Personal Loan</a></li>
				<li id='headerLAP'><a href="/web/lapLoan/">Mortgage Loan</a></li>
				<li id='headerEL'><a href="/web/eduLoan/">Education Loan</a></li>
				<li id='headerTools'><a href="/web/calc/">Tools</a></li>
				<li id='headerRefer'><a href="/web/referrals/">Referrals</a></li>
				<!-- <li id='headerResearch'><a href="https://loangully.wordpress.com/" target="_blank">Research</a></li> -->
			</ul>
		</div>
	</div>
</div>


<script>$(function() { $(".header").on('click',function(){ localStorage.clear();}) }); </script>
<script>

	(function(i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r;
		i[r] = i[r] || function() {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date();
		a = s.createElement(o), m = s.getElementsByTagName(o)[0];
		a.async = 1;
		a.src = g;
		m.parentNode.insertBefore(a, m)
	})(window, document, 'script', '//www.google-analytics.com/analytics.js',
			'ga');

	ga('create', 'UA-61042504-1', 'auto');
	ga('send', 'pageview');
</script> 