<div class="subSubLevelNavBlock">
	<!-- <span class="subSubExtraSpace"></span> -->
	<div class="subSubNavigation">
		<!-- <a href="/web/dealOffers" class="dealsOffersIcon" id='headingDeals'>Deals &amp; Offers</a>  -->
		<a
			href="/web/calc/" class="calculatorsIcon "
			id='headingCalc'>Calculators</a>
		<!-- activeSubSubNav -->
		<a href="/web/checkList" class="checkListIcon" id='headingCheckList'>Checklist</a> 
		<a href="/web/finPlanning" class="taxImplications" id='headingFinPlaning'>Fin Planning</a> 
		<a href="/web/faqs" class="faqsIcon" id='headingFaqs'>FAQ's</a>
		<!-- <a href="/web/feedback/" class="newsEventsIcon" id='headingNew' target="_blank">News &amp; Events</a>  -->
		<a href="/web/feedback/" class="feedbackIcon" id='headingFeedback'>Feedback</a>
	</div>
</div>
<script>$(function() { $(".subSubLevelNavBlock").on('click',function(){ 
			//localStorage.clear();
			localStorage.setItem("sourceCategory", "4");
			});
			
}); </script>